<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KikBot.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>KikBot.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>KikBotTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Kitura.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>KituraNet.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>KituraTemplateEngine.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>LoggerAPI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>SSLService.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Socket.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>SwiftyJSON.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>OBJ_148</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_155</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_164</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_173</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_221</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_236</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_244</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_251</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_314</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_349</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
