<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>OBJ_149</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_156</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_165</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_174</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_222</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_237</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_245</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_252</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_315</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_350</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
